@unocss;

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

button {
	scrollbar-width: 0;
}

/* #__next {
	@apply fixed inset-0 overflow-y-scroll;
} */

.btn {
	@apply flex items-center justify-center p-2 rounded-md;
}

.btn-primary {
	@apply bg-violet-700 text-white border-b-4 border-violet-950;
}

.btn-primary:active {
	@apply bg-violet-900 text-white border-b;
}

.btn-outline-primary {
	@apply border border-stone-200 text-violet-700 border-b-4 p-2 rounded-md;
}

.btn-outline-primary:active {
	@apply border-b;
}

.btn-primary-alt {
	@apply bg-violet-700 text-white;
}

.btn-primary-alt:focus {
	@apply ring-4 ring-violet;
}

.btn-primary-alt:active {
	@apply bg-violet-900;
}

.text-shadow-primary {
	color: theme("colors.violet.900");
	text-shadow: 1px 1px 0 #fff,
		-1px 1px 0 #fff;
}

.bg-footer {
	background-size: 100%;
	background: black url(/dotted_background.png);
	@apply text-white;
}

.marquee {
	animation-direction: alternate;
	animation: marquee 50s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateZ(0);
	}

	100% {
		transform: translate3d(-2650px, 0, 0);
	}
}

@screen md {
	.marquee {
		animation-direction: alternate-reverse;
		animation: marquee 20s linear infinite;
	}
	
	@keyframes marquee {
		0% {
			transform: translateZ(0);
		}
	
		100% {
			transform: translate3d(-100%, 0, 0);
		}
	}
}


.stack-color-border {
	@apply border-4 border-amber;
	box-shadow: 
	6px 8px 0 theme("colors.purple.500"),
	10px 12px 0 theme("colors.cyan.500"), 
	14px 16px 0 theme("colors.violet.700");
}

